* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.main-header{
  background-color: #333;
  color: white;
  text-align: center;
}
.main-header__h1{
  padding:20px 0px;
}
.login-form__email-input,.login-form__password-input{
  width: 20%;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 20px;
  margin: 30px;
}
.login-form__login-btn{
  padding: 17px 30px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: wheat;
  font-size: 1.1rem;
  cursor: pointer;
}
.login-form__login-btn:hover{
  background-color: tomato;
  color: aliceblue;
}

.section-signup__h1{
  text-align: center;
  margin: 20px 0px;
  padding: 20px;
  color: tomato;
  font-size: 2rem;

}
.section-signup__signup-form{
  text-align: center;
  border-radius: 20px;
  width: 50%;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signup-form__fname-input, .signup-form__lname-input,.signup-form__email-input,.signup-form__newpass-input{
  width: 70%;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 20px;
  margin: 20px 0px;
}

.signup-form__signup-btn{
  padding: 20px 60px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: wheat;
  margin-bottom: 30px;
  font-size: 1.2rem;
  cursor: pointer;

}
.signup-form__signup-btn:hover{
  background-color: tomato;
  color: aliceblue;
}
.footer{
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}